/* 전체 스타일 초기화 */
body,
html,
main {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 입력 필드 스타일 */
.form-field {
  margin-bottom: 0 !important;
  display: block;
  width: 100%;
}

.fw-input-all:focus {
  outline: none; /* 기본 브라우저 포커스 스타일 제거 */
}
.fw-input-all {
  color: rgb(var(--colour-text-and-icon-2, 72, 72, 72));
  width: 100%;
  display: block;
  margin: 0 0 0.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.8rem;
  font-size: 0.875rem;
  line-height: 1.571;
  border: none;
  box-sizing: border-box; 
}


.fw-input-wrapper {
  align-items: center;
  background: rgb(var(--colour-neutral-1, 255, 255, 255));
  display: flex;
  position: relative;
  width: 100%;
  max-width: 448px;
}

.fw-input-error {
  color: red; 
  font-size: 0.75rem; 
  position: absolute;
  bottom: -1.0rem; /* 입력 필드 아래쪽에 위치 */
  left: 0;
  width: 100%;
  display: none; /* 기본적으로 숨김 */
}

/* 기본 테두리 스타일 */
.fw-input-border {
  border: 1px solid rgb(var(--colour-interactive-subtle-border-default, 146, 146, 146)); 
  border-radius: 4px;
  bottom: 0;
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: box-shadow 0.1s cubic-bezier(0.4, 0, 0.4, 1), border 0.1s cubic-bezier(0.4, 0, 0.4, 1);
  width: 100%;
}
/* 포커스 상태에서 기본 테두리만 보이게 하는 스타일 */
.fw-input-all:focus + .fw-input-border {
  border: 1px solid rgb(var(--colour-interactive-subtle-border-default, 146, 146, 146)); /* 기본 테두리 색상 */
}
/* 에러 상태일 때 빨간색 테두리 */
.input-field--error .fw-input-border {
  border: 1px solid rgb(var(--colour-semantic-negative, 224, 7, 81)); /* 빨간색 테두리 */
}

/* 올바른 입력일 때 보라색 테두리 */
.input-field--valid .fw-input-border {
  border: 1px solid purple; /* 보라색 테두리 */
}


.fw-br-block-1 {
  height: 32px;
  width: 100%;
}


.btn {
  position: relative; /* 테두리를 올바르게 배치하기 위해 상대 위치 지정 */
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.25s, transform 0.25s;
}

/* 강조 버튼 스타일 */
.fw-btn {
  color: rgb(var(--colour-static-white, 255, 255, 255));
  background: #D7BFFF;
  border-radius: 64px;
  padding: 0 11rem;
  min-height: 3.5rem;
  transition: opacity 0.25s, transform 0.25s;
}

/* 버튼 텍스트 스타일 */
.fw-btn-label {
  color: white;
  transition: opacity 0.2s, transform 0.2s;
}

